@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    background-color: rgb(212, 197, 211);
}
.drink{
    color: rgb(255, 255, 255);
    font-size: 80px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.ingredients{
    
    background-image: url('../images/strawberry.jpg');
    background-size: 100%;
    border: 1px solid violet;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.ingredients-table{
    color: rgb(131, 39, 112);
    text-align: left;
    background-color: rgb(219, 211, 218);
    border: 1px solid violet;
    margin: 0 auto;
}
.instructions{
    background-image: url('../images/strawberry.jpg');
    background-size: 100%;
    background-position-y: bottom;
    border: 1px solid violet;
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
}
.instructions ol{
    color: rgb(131, 39, 112);
    background-color: rgb(219, 211, 218);
    border: 1px solid violet;
    width: 75%;
    margin: 0 auto;
}
.notes{
    font-size: 20px;
    background-image: url('../images/strawberry.jpg');
    background-size: 100%;
    background-position-y: top;
    text-align: center;
    border: 1px solid violet;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 100px;
}
li{
    color: rgb(131, 39, 112);
    font-size: 20px;
}
h1 {
    color: rgb(131, 39, 112);
    color: rgb(255, 255, 255);
}
p{
    color: rgb(131, 39, 112);
    background-color: rgb(219, 211, 218);
    border: 1px solid violet;
    width: 75%;
    margin: 0 auto;
    
}
.link{
    background-image: url('../images/strawberry.jpg');
    background-size: 100%;
    background-position-y: top;
    text-align: center;
    border: 1px solid violet;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
a{
    color: rgb(131, 39, 112);
    background-color: rgb(219, 211, 218);
    border: 1px solid violet;
    width: 50%;
    height: 50%;

}
